@import "normalize";

// Backgrounds
$color__background-body: #fff;
$color__background-input: #fff;
$color__background-screen: #f1f1f1;
$color__background-hr: #ccc;
$color__background-button: {{ $.Site.Params.accent_color | default "#0073aa" }};
$color__background-button-hover: #111;
$color__background-pre: #eee;
$color__background-ins: #fff9c0;
$color__background_selection: mix( $color__background-body, $color__background-button, 75% ); // lighten( salmon, 22.5% ); // lighten( #0999d4, 48% );

// Text
$color__text-main: #111;
$color__text-light: #767676;
$color__text-hover: lighten( #111, 22.5% );
$color__text-screen: #21759b;
$color__text-input: #666;
$color__text-input-focus: #111;

// Links
$color__link: {{ $.Site.Params.accent_color | default "#0073aa" }};
$color__link-visited: $color__link;
$color__link-hover: darken( $color__link, 10% );

// Borders
$color__border: #ccc;
$color__border-link: {{ $.Site.Params.accent_color | default "#0073aa" }};
$color__border-link-hover: darken( $color__link, 10% );
$color__border-button: #ccc #ccc #bbb;
$color__border-button-hover: #ccc #bbb #aaa;
$color__border-button-focus: #aaa #bbb #bbb;
$color__border-input: $color__border;
$color__border-abbr: #666;

@import "variables-site/variables-site";
@import "mixins/mixins-master";
@import "typography/typography";
@import "elements/elements";
@import "forms/forms";
@import "navigation/navigation";
@import "modules/accessibility";
@import "modules/alignments";
@import "modules/clearings";
@import "layout/layout";
@import "site/site";
@import "site/secondary/widgets";
@import "blocks/blocks";
@import "media/media";
@import "syntax";

.entry-footer svg, .entry-meta svg {
  width: 16px;
  height: 16px;
  position: relative;
  display: inline-block;
  vertical-align: middle;
  margin-right: 0.25em;
}

.site-main pre {
  padding: 0.8rem;
  font-size: 0.8rem;
  border-radius: 0.3rem;
  background-color: #F7FAFC !important;
  color: #272822;
}

.site-main code {
  background-color: #F7FAFC;
  color: #272822;
  font-size: 0.8rem;
  padding: 2px 4px;
  border-radius: 2px;
}

.navigation.pagination svg {
  width: 22px;
  height: 22px;
}

.main-navigation .main-menu>li.menu-item-has-children .submenu-expand svg {
  width: 24px;
  height: 24px;
}

.searchPage-field {
  padding: .36rem .66rem;
}

.left {
	/*rtl:ignore*/
	float: left;
	/*rtl:ignore*/
	margin-right: $size__spacing-unit;

	@include media(tablet) {
		/*rtl:ignore*/
		margin-right: calc(2 * #{$size__spacing-unit});
	}
}
.right {
	/*rtl:ignore*/
	float: right;
	/*rtl:ignore*/
	margin-left: $size__spacing-unit;

	@include media(tablet) {
		/*rtl:ignore*/
		margin-left: calc(2 * #{$size__spacing-unit});
	}
}

figcaption {
	color: $color__text-light;
	font-size: $font__size-xs;
	font-family: $font__heading;
 	line-height: $font__line-height-pre;
 	margin: 0;
 	padding: ( $size__spacing-unit * .5 );
	text-align: center;
}

figure {
	margin-bottom: calc(1.5 * #{$size__spacing-unit});

	&.aligncenter {

		@include media(tablet) {
			position: relative;
			left: calc( #{$size__site-tablet-content} / 2 );
			transform: translateX( -50% );
		}

		@include media(desktop) {
			left: calc( #{$size__site-desktop-content} / 2 );
		}
	}
}

.entry .entry-content > *,
.entry .entry-summary > * {
	&.left {
		/*rtl:ignore*/
		float: left;
		max-width: calc(5 * (100vw / 12));
		margin-top: 0;
		margin-left: 0;
		/*rtl:ignore*/
		margin-right: $size__spacing-unit;

		@include media(tablet) {
			max-width: calc(4 * (100vw / 12));
			/*rtl:ignore*/
			margin-right: calc(2 * #{$size__spacing-unit});
		}
  }
  &.right {
		/*rtl:ignore*/
		float: right;
		max-width: calc(5 * (100vw / 12));
		margin-top: 0;
		margin-right: 0;
		/*rtl:ignore*/
		margin-left: $size__spacing-unit;

		@include media(tablet) {
			max-width: calc(4 * (100vw / 12));
			margin-right: 0;
			/*rtl:ignore*/
			margin-left: calc(2 * #{$size__spacing-unit});
		}
  }
  &.big {
		margin-left: auto;
		margin-right: auto;
		clear: both;

		@include media(tablet) {
			width: 100%;
			max-width: 100%;
		}
	}
}

.capitalize {
	text-transform: capitalize;
}