{{ range where .Pages.ByPublishDate.Reverse "Section" "posts" }}
  <article class="post entry">
    <header class="entry-header">
      <h2 class="entry-title">
        <a href="{{ .RelPermalink }}" rel="bookmark">{{.Title}}</a>
      </h2>
    </header>

    {{ if .Params.image }}
      <figure class="post-thumbnail">
        <a class="post-thumbnail-inner" href="{{ .RelPermalink }}" aria-hidden="true">
          <img src="{{ .Params.image }}" />
        </a>
      </figure>
    {{ end }}

    <div class="entry-content">
      {{ .Summary }}
    </div>
    
    <footer class="entry-footer">
      <!-- TODO: byline and category -->
      <span class="posted-on">
        <!-- TODO: Add clock SVG icon -->
        {{ partial "icons/ui/watch" }}
        {{ $dateFormat := $.Site.Params.dateFormat | default "January 2, 2006" }}
        <a href="{{ .RelPermalink }}">{{ .PublishDate.Format $dateFormat }}</a>
      </span>
    </footer>
  </article>
{{ end }}