<span class="posted-on">
  {{ partial "icons/ui/watch" }}
  {{ $dateFormat := $.Site.Params.dateFormat | default "January 2, 2006" }}
  <a href="{{ .RelPermalink }}">{{ .PublishDate.Format $dateFormat }}</a>
</span>

{{ $tags := slice }}
{{ with .Params.tags }}
<span class="tags-links">
  {{ partial "icons/ui/tag" }}
  <span class="screen-reader-text">Posted in</span>
  {{ range . }}
  {{ $href := print ("tags/" | absLangURL) (. | urlize) "/" }}
  {{ $element := printf "<a href=\"%s\" rel=\"category tag\">%s</a>" $href . }}
  {{ $tags = $tags | append $element }}
  {{ end }}
  {{ delimit $tags ", " }}
</span>
{{ end }}

{{ $categories := slice }}
{{ with .Params.categories }}
<span class="cat-links">
  {{ partial "icons/ui/archive" }}
  <span class="screen-reader-text">Posted in</span>
  {{ range . }}
  {{ $href := print ("categories/" | absLangURL) (. | urlize) "/" }}
  {{ $element := printf "<a href=\"%s\" rel=\"category tag\">%s</a>" $href . }}
  {{ $categories = $categories | append $element }}
  {{ end }}
  {{ delimit $categories ", " }}
</span>
{{ end }}