<div class="site-branding">
  <h1 class="site-title">
    <a href="{{ .Site.BaseURL }}" rel="home">{{ .Site.Title }}</a>
  </h1>

  {{ with .Site.Params.description }}
    <p class="site-description">
      {{ . }}
    </p>
  {{ end }}

  <nav id="site-navigation" class="main-navigation" aria-label="Top Menu">
    <div class="menu-main-container">
      <ul id="menu-main" class="main-menu">
        {{ $currentPage := . }}
        {{ range .Site.Menus.main }}
          {{ if .HasChildren }}
            <li class="menu-item menu-item-has-children {{ if $currentPage.IsMenuCurrent "main" . }}active{{ end }}">
              <a href="{{ .URL }}" aria-haspopup="true" aria-expanded="false">{{ .Name }}</a>
              <button class="submenu-expand" tabindex="-1">
                {{ partial "icons/ui/keyboard-arrow-down" }}
              </button>
              <ul class="sub-menu">
                  {{ range .Children }}
                    <li class="menu-item {{ if $currentPage.IsMenuCurrent "main" . }}active{{ end }}">
                      <a href="{{ .URL }}">{{ .Name }}</a>
                    </li>
                  {{ end }}
                </ul>
            </li>
          {{ else }}
            <li class="menu-item {{ if $currentPage.IsMenuCurrent "main" . }}active{{ end }}">
              <a href="{{ .URL }}">{{ .Name }}</a>
            </li>
          {{ end }}
        {{ end }}
      </ul>
    </div>
  </nav>

  <nav class="social-navigation" aria-label="Social Links Menu">
    <div class="menu-social-container">
      <ul id="menu-social" class="social-links-menu">
        {{ range .Site.Menus.social }}
          {{ partial "header/social-link" . }}
        {{ end }}
      </ul>
    </div>
  </nav>
</div>