<li class="menu-item">
  <a href="{{ .URL }}">
    <span class="screen-reader-text">{{ .Name }}</span>
    {{ if (eq .Identifier "500px") }}
      {{ partial "icons/social/500px" }}
    {{ end }}
    {{ if (eq .Identifier "amazon") }}
      {{ partial "icons/social/amazon" }}
    {{ end }}
    {{ if (eq .Identifier "apple") }}
      {{ partial "icons/social/apple" }}
    {{ end }}
    {{ if (eq .Identifier "bandcamp") }}
      {{ partial "icons/social/bandcamp" }}
    {{ end }}
    {{ if (eq .Identifier "behance") }}
      {{ partial "icons/social/behance" }}
    {{ end }}
    {{ if (eq .Identifier "chain") }}
      {{ partial "icons/social/chain" }}
    {{ end }}
    {{ if (eq .Identifier "codepen") }}
      {{ partial "icons/social/codepen" }}
    {{ end }}
    {{ if (eq .Identifier "deviantart") }}
      {{ partial "icons/social/deviantart" }}
    {{ end }}
    {{ if (eq .Identifier "digg") }}
      {{ partial "icons/social/digg" }}
    {{ end }}
    {{ if (eq .Identifier "dribbble") }}
      {{ partial "icons/social/dribbble" }}
    {{ end }}
    {{ if (eq .Identifier "dropbox") }}
      {{ partial "icons/social/dropbox" }}
    {{ end }}
    {{ if (eq .Identifier "etsy") }}
      {{ partial "icons/social/etsy" }}
    {{ end }}
    {{ if (eq .Identifier "facebook") }}
      {{ partial "icons/social/facebook" }}
    {{ end }}
    {{ if (eq .Identifier "feed") }}
      {{ partial "icons/social/feed" }}
    {{ end }}
    {{ if (eq .Identifier "flickr") }}
      {{ partial "icons/social/flickr" }}
    {{ end }}
    {{ if (eq .Identifier "foursquare") }}
      {{ partial "icons/social/foursquare" }}
    {{ end }}
    {{ if (eq .Identifier "goodreads") }}
      {{ partial "icons/social/goodreads" }}
    {{ end }}
    {{ if (eq .Identifier "google-plus") }}
      {{ partial "icons/social/google-plus" }}
    {{ end }}
    {{ if (eq .Identifier "google") }}
      {{ partial "icons/social/google" }}
    {{ end }}
    {{ if (eq .Identifier "github") }}
      {{ partial "icons/social/github" }}
    {{ end }}
    {{ if (eq .Identifier "instagram") }}
      {{ partial "icons/social/instagram" }}
    {{ end }}
    {{ if (eq .Identifier "lastfm") }}
      {{ partial "icons/social/lastfm" }}
    {{ end }}
    {{ if (eq .Identifier "linkedin") }}
      {{ partial "icons/social/linkedin" }}
    {{ end }}
    {{ if (eq .Identifier "mail") }}
      {{ partial "icons/social/mail" }}
    {{ end }}
    {{ if (eq .Identifier "meetup") }}
      {{ partial "icons/social/meetup" }}
    {{ end }}
    {{ if (eq .Identifier "medium") }}
      {{ partial "icons/social/medium" }}
    {{ end }}
    {{ if (eq .Identifier "pinterest") }}
      {{ partial "icons/social/pinterest" }}
    {{ end }}
    {{ if (eq .Identifier "pocket") }}
      {{ partial "icons/social/pocket" }}
    {{ end }}
    {{ if (eq .Identifier "reddit") }}
      {{ partial "icons/social/reddit" }}
    {{ end }}
    {{ if (eq .Identifier "skype") }}
      {{ partial "icons/social/skype" }}
    {{ end }}
    {{ if (eq .Identifier "slideshare") }}
      {{ partial "icons/social/slideshare" }}
    {{ end }}
    {{ if (eq .Identifier "snapchat") }}
      {{ partial "icons/social/snapchat" }}
    {{ end }}
    {{ if (eq .Identifier "soundcloud") }}
      {{ partial "icons/social/soundcloud" }}
    {{ end }}
    {{ if (eq .Identifier "spotify") }}
      {{ partial "icons/social/spotify" }}
    {{ end }}
    {{ if (eq .Identifier "stumbleupon") }}
      {{ partial "icons/social/stumbleupon" }}
    {{ end }}
    {{ if (eq .Identifier "tumblr") }}
      {{ partial "icons/social/tumblr" }}
    {{ end }}
    {{ if (eq .Identifier "twitch") }}
      {{ partial "icons/social/twitch" }}
    {{ end }}
    {{ if (eq .Identifier "twitter") }}
      {{ partial "icons/social/twitter" }}
    {{ end }}
    {{ if (eq .Identifier "vimeo") }}
      {{ partial "icons/social/vimeo" }}
    {{ end }}
    {{ if (eq .Identifier "vk") }}
      {{ partial "icons/social/vk" }}
    {{ end }}
    {{ if (eq .Identifier "wordpress") }}
      {{ partial "icons/social/wordpress" }}
    {{ end }}
    {{ if (eq .Identifier "yelp") }}
      {{ partial "icons/social/yelp" }}
    {{ end }}
    {{ if (eq .Identifier "youtube") }}
      {{ partial "icons/social/youtube" }}
    {{ end }}
  </a>
</li>